.logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%, 100%);

  @media (max-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
  }
}
