$dark: #001122;
$red: hsl(10, 70%, 50%);
$blue: hsl(200, 70%, 50%);
$purple: hsl(250, 60%, 50%);

html {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px lightslategray;
}

::-webkit-scrollbar-thumb {
	background: $dark;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}
